@font-face {font-family: "Minangkabau";
    src: url("Minangkabau.eot"); /* IE9*/
    src: url("Minangkabau.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Minangkabau.woff2") format("woff2"), /* chrome、firefox */
    url("Minangkabau.woff") format("woff"), /* chrome、firefox */
    url("Minangkabau.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("Minangkabau.svg#Minangkabau") format("svg"); /* iOS 4.1- */
  }
body {
  font-family: "Minangkabau";
  background-color: aqua;
}
